# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual envs
.venv/
venv/
ENV/

# Django
staticfiles/
media/
.dbg/
*.log

db.sqlite3

# Node
node_modules/

# OS / VCS
.DS_Store
.git/
.gitignore

# Env files
.env
.env.*

# IDEs
.idea/
.vscode/
